p
{
background-color:Green;
font-size:22px;
position:relative;
left:190;
width:200px;

/*font-size:2em;*/

}

div
{
background-color:Blue;
font-size:30px;
}

ul{
background-color:#cccccc;
list-style:none;
}

ul li
{
/*background-color:#cccc99;
padding:10px;
margin:30px;
border-style: solid;*/
font-family:sans-serif;
font-size:1.2em;
}

*
{
padding:0px;
margine:0px;
}

h1,h2{
/*text-align:center;
text-decoration:underline;
*/
position:absolute;
left:220;
right:230;
width:200px;
background-color:aqua;
}

/*#links
{
margin:50px;
}*/

#links
{
position:relative;
top:10px;
left:0px;
right:50px;
width:85px;
background-color:red;
}
